
#root {
  width: 100%;
  height: 100%;
  
}
body {

}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
    color: white;
  background-color: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}



.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  background-color:transparent;
  color: white;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}
